# ======================
# Python
# ======================
backend/.venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Node
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# Environment Variables
# ======================
.env

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Database
# ======================
*.db
*.sqlite
*.sqlite3